.line {
    display: flex;
    align-items: center;
    width: 100%;
}
.line label {
    flex: 1;
}

.pickerContainer {
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.picker {
    scale: 5;
}
